body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  margin-top: 0;
}

/*ESTILOS PARA EL DIV CONTENEDOR*/
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/*ESTILOS PARA EL BANNER SUPERIOR DE TEXTOS*/
.banner {
  width: 100%;
  height: 45px;
  background-color: #3de4ac;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@font-face {
  font-family: 'Archivo Black';
  src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

.banner p {
  font-size: 24px;
  color: #fff;
  margin: 0;
  display: none;
  font-family: 'Archivo Black', sans-serif;
}

.banner p.hide {
  display: none;
}
/*ESTILOS PARA EL DIV DEBAJO DEL BANNER SUPERIOR DE TEXTOS*/
.div1 {
  position: relative;
  margin-top: 0px;
  padding-right: 1.5cm;
  text-align: right;
  background-color: #f3f0f0f3;
}

@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
}

.div1 a {
  display: inline-block;
  margin-left: 4mm;
  font-family: 'Roboto Flex', sans-serif;
  color: #000;
  font-size: 11px;
  text-decoration: none;
}
/*ESTILOS EL LOGO DEL MENÚ*/
.logo {
  width: 200px;
  height: auto;
}  
/*ESTILOS PARA EL NAV DEL MENU*/
.menu {
  display: flex;
  justify-content: center;
  padding: 10px;
}

/*ESTILOS PARA LOS ELEMENTOS DEL MENU*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
  padding: 10px;
}

.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu li {
  flex-grow: 1;
  text-align: center;
  font-family: 'Roboto Flex';
}

.menu a {
  text-decoration: none;
  color: #333;
}

/*ESTILOS PARA EL BUSCADOR DEL MENU*/
.buscador {
  margin-left: 10px;
}

.buscador #search {
  width: 190px;
  height: 33px;
}

.buscador input[type="text"] {
  padding-left: 30px;
  border: 1px solid #000;
  border-radius: 4px;
  outline: none;
  text-indent: 4mm;
}

.buscador .icon-lupa {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 10px;
}

.buscador .icon-lupa i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.buscador input[type="text"]::placeholder {
  font-size: 17px; 
  padding-left: 1mm;
  color: #494747;
}

/*ESTILOS PARA LOS ÍCONOS DEL MENÚ*/
.icons {
  display: flex;
  align-items: center;
}
.icons a {
  margin-right: 10px;
  text-decoration: none;
}

.icons a:last-child {
  margin-right: 0;
}
.icons a img{
  width: 25px;
  height: 25px;
  margin-right: 3mm;
}

.img1 {
  margin-top: 0.5mm;
}
.img2 {
  width: 30px; 
  height: 30px; 
}
.img3 {
  width: 30px; 
  height: 30px;
  margin-top: 0.5mm;
}

/*ESTILOS PARA LA FRASE ESLOGAN DEBAJO DEL MENU DE OPCIONES*/
.div2 {
  height: 13mm;
  width: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 p {
  color: #ffffff;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto Flex';
  font-size: 18px;
}

/*ESTILOS PARA EL CARRUSEL DE IMÁGENES*/
.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 375px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  margin-top: 20px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; 
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #ff0000;
}

/*ESTILOS PARA LAS OPCIONES DEL MENU*/
.menu > ul > li > a {
  position: relative;
}

.menu > ul > li > a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(145, 140, 140);
  border-radius: 1.5px;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.menu > ul > li:hover > a::after {
  transform: scaleX(1);
}

.menu li {
  position: relative;
  z-index: 10;
}

.menu li:hover .opciones {
  display: block;
}

.menu .opciones {
  display: none;
  position: absolute;
  transform: translateY(12%);
  margin-top: 5px;

}
.menu li .opciones {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateY(12%);
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  padding: 10px;
  background-color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 3px;
  z-index: 20;
}
.menu li:hover .opciones {
  opacity: 1;
  pointer-events: auto;
}

.menu .opciones li {
  position: relative;
}

.menu .opciones li:hover a {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.menu .opciones li:hover {
  transform: scale(1.1);
}
.menu .opciones a {
  font-family: 'Roboto Flex';
}
/****RESPONSIVE******/
/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .div1 {
    text-align: center;
    padding: 10px;
  }
  
  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
    text-indent: 0;
  }
  
  .buscador {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .icons {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* Estilos para tabletas y pantallas más grandes */
@media (min-width: 768px) {
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .menu ul {
    margin-top: 0;
    align-items: center;
  }
  
  .div1 {
    text-align: right;
  }
  
  .buscador {
    margin-left: 10px;
    margin-top: 0;
  }
  
  .icons {
    margin-left: 10px;
    margin-top: 0;
  }
}








































